.lists{
    display: flex;
    align-items: center;
    margin-top: 27px;
    margin-bottom: 30px;
}
.content ul li{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.content ul li:last-child{
    margin-bottom: 0;
}
.content ul li svg{
    color: #499AFA;
}
.content ul li p{
    margin-bottom: 0;
    font-size: 15px;
    color: #222C50;
    margin-left: 10px;
}
.secondListWrapper{
    margin-left: 60px;
}