.cta-wrapper{
    padding: 68px 0;
}
.cta-wrapper .cta-bg{
    background: url('../../assets/cta-bg.png') no-repeat center center;
    background-size: initial;
    padding: 75px 70px;
}
.cta-text h2{
    font-size: 28px;
    line-height: 160%;
    text-transform: capitalize;
    margin-bottom: 0;
}
.end-content{
    display: flex;
    justify-content: end;
}