.navbar-wrapper nav ul{
    display: flex;
    margin-bottom: 0;
}
.navbar-wrapper nav ul li{
    margin-left: 40px;
}
.navbar-wrapper nav ul li:last-child{
    margin-left: 0;
}
.navbar-wrapper nav ul li a{
   font-family: 'Heebo', sans-serif;
   font-weight: 600;
   font-size: 14px;
   text-decoration: none;
   color: #222C50;
   display: block;
   padding: 37px 0;
}
.navbar-cta-wrapper{
    display: flex;
    align-items: center;
}
.navbar-cta-wrapper li{
    display: flex;
    align-items: center;
    font-size: 22px;
}
.navbar-cta-wrapper li:first-child{
    border-right: 1px solid #6E7990;
    padding-right: 20px;
}
.navbar-wrapper .navbar-cta-wrapper li a{
    display: flex;
    align-items: center;
    font-size: 22px;
    padding-left: 20px;
}