.testimonial-wrapper{
    padding: 68px 0;
}
.testimonial-image{
    width: 100%;
}
.name-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.meta{
    display: flex;
    align-items: center;
}
.meta h5{
    font-family: 'DM Serif Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #222C50;
    margin-bottom: 0;
    margin-left: 25px;
}
.review svg{
    color: #F49A47;
}
.testi-content-wrapper p{
    display: block;
    margin-bottom: 28px;
}
.center-align{
    display: flex;
    align-items: center;
}
.quote{
    display: flex;
    justify-content: end;
}
.carousel .carousel-indicators{
    display: flex;
    justify-content: start;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.carousel-indicators button{
    height: 12px;
    width: 12px;
    border: 0;
    border-radius: 50%;
    background: #6E7990;
    opacity: .5;
    margin-right: 10px;
}

.carousel-indicators button[aria-current="true"]{
    background: #499AFA;
    width: 20px;
    border-radius: 8px;
}