
.testimonial-image{
    width: 100%;
}
.name-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.meta{
    display: flex;
    align-items: center;
}
.meta h5{
    font-family: 'DM Serif Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #222C50;
    margin-bottom: 0;
    margin-left: 25px;
}
.review svg{
    color: #F49A47;
}
.center-align{
    display: flex;
    align-items: center;
}
.quote{
    position: absolute;
    right: 0;
    top: -70%;
}