/*----------------------------------------------------------------------------------
Project     :  MarsAid - Doctor booking React template
-------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------
[Table of contents]
default css
topbar area
header area
hero area
about area
services area
counter area
why choose us area
protfolio area
newsletter area
team area
testimonials area
faq area
blog area
footer area
--------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    default css
---------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Heebo:wght@500;600&family=Inter:wght@400;500;700&display=swap');

/* 

font-family: 'Heebo', sans-serif;
 */
/*-------------------------------------------------------------------------------------
    font-face css
---------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Font Awesome\ 5 Brands';
    font-style: normal;
    font-weight: 400;
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

@font-face {
    font-family: 'Font Awesome\ 5 Free';
    font-style: normal;
    font-weight: 400;
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.eot);
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-regular-400.svg#fontawesome) format("svg")
}

@font-face {
    font-family: 'Font Awesome\ 5 Free';
    font-style: normal;
    font-weight: 900;
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.eot);
    src: url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.woff2) format("woff2"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.woff) format("woff"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.ttf) format("truetype"), url(https://use.fontawesome.com/releases/v5.0.6/webfonts/fa-solid-900.svg#fontawesome) format("svg")
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
    color: #fff;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}

 ::-webkit-input-placeholder {
    /* Edge */
    font-family: 'Inter', sans-serif;
    color: #647589;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Inter', sans-serif;
    color: #647589;
}

 ::placeholder {
    font-family: 'Inter', sans-serif;
    color: #647589;
    font-size: 14px;
}

a,
button, .button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

a {
    color: #031031;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    display: block;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'DM Serif Display', serif;
    margin: 0;
    color: #222C50; 
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #6E7990;
    margin-bottom: 0;
    line-height: 1.7;
}

 ::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-thumb {
    background: #499AFA;
}

.button {
    padding: 17px 25px;
    background: #499AFA;
    display: inline-block;
}

.button:hover {
    background: #0058bd;
}

.button a {
    color: #ffffff;
    font-weight: 600;
    text-transform: capitalize;
}

.button a:hover {
    color: #fff;
}

.button svg {
    margin-left: 4px;
    font-size: 14px;
}
/*-------------------------------------------------------------------------------------
    back to top button
---------------------------------------------------------------------------------------*/

.top-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 52px;
    font-size: 25px;
    bottom: 32px;
    right: 32px;
    z-index: 999;
    color: #fff;
    background: #499AFA;
    text-align: center;
    cursor: pointer;
    display: none;
}

.top-btn:hover {
    color: #031031;
    transition: all 0.4s linear;

}

@media (min-width: 992px) and (max-width: 1200px) {

    .section-title h2{
        font-size: 30px;
    }
    .lg-text{
        bottom: 79%;
    }
    .lg-text h2{
        font-size: 95px;
    }
}